@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Alata', sans-serif !important;
    background-color: #FFF;
    margin: 0;
}
.header {
    background-color: #7304bd;
    padding: 30px 20px;
    color: #FFF;
    font-size: 40px;
}
.container .bloco {
    width: 49%;
    padding: 10px 15px;
    float: left;
}
.container {
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.input-wrapper input[type="text"] {
    width: 950%;
    border: none;
    padding-left: 10px;
    font-size: 18px;
}
.input-wrapper select {
    width: 15%;
    color: #707070;
}
button:hover {
    color: #7304bd;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.input-wrapper button {
    width: 4%;
    color: #000;
    transition: 0.3s;
    font-size: 25px;
    margin-right: 15px;
}
textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
    border: none;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper button {
    display: block;
    float: left;
    border: none;
}
.input-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #7304bd;
}

.content {
    display: flex;
    width: 100%;
}
h2.true i {
    color: #7304bd;
    transition: 0.3s;
}
h2 {
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    font-size: 28px;
}
h2 i {
    font-size: 30px;
    cursor: pointer;
}
.list ul {
    width: 100%;
    list-style: none;
    padding: 0px;
}
.list textarea {
    display: block;
    border: none;
    width: 80%;
    height: 100px;
    overflow-y: hidden;
    resize: none;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    float: left;
}
.buttonWrapper {
    display: block;
    float: left;
    margin-top: 15px;
}
.list ul li {
    width: 100%;
    padding: 20px 0px 5px 10px;
}
.list ul li button {
    float: right;
    font-size: 22px;
    /* position:absolute */
}
@media screen and (max-width: 768px) {
    .header {
        padding: 20px 10px;
        font-size: 30px;
        text-align: center;
    }

    .content { display: initial; }
    .container .bloco {
        width: 90%;
    }

    .list textarea {
        width: 70%;
    }
}